# Ignore build artificacts, deps, doc, and crash dumps
/_build/
/deps/
/doc/*.css
/doc/*.html
/doc/erlang.png
/doc/edoc-info

erl_crash.dump
*.crashdump

# Ignore c object files
*.o
*.so

# Ignore rebar3
rebar3

# Ignore beam files
*.beam

# Plugin artifact
/test/.rebar3/erlcinfo
